
/*header css start */

.wjs_header {
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #ccc;
}
.wjs_header .container .row > div { /* > 代表选中直接子元素 */
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 12px;
}
/*.wjs_header .container .row > div:first-child {*/
/*border-left: none;*/
/*}*/

.wjs_header .container .row > div + div { /* + 相邻选择器 */
    border-left: 1px solid #ccc;
}

.wjs_header .container .row > div button { /* 行内元素 */

}
.wjs_header .container .row > div a {
    text-decoration: none;
    color: #666;
}

.wjs_header .container .row .wjs_app {
    display: block;
    position: relative;
}
.wjs_header .container .row .wjs_app>img {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    border: 1px solid #ccc;
    border-top: 0;
    display: none;
}
.wjs_header .container .row .wjs_app:hover > img{
    display: block;
}



    /*header css end */
/* nav css start */
.wjs_nav {
    background-color: #fff;
    border-color: #e7e7e7;
    border-radius: 0;
    margin-bottom: 0;
}
.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #d9534f;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #d9534f;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}

@media (max-width: 768px) { /* 自定义的媒介查询  */
    .wjs_nav .navbar-collapse,
    .wjs_nav .navbar-form {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 1000;
        margin: 0;
    }
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}

.wjs_icon_logo {
    color:#d9534f;
    font-size: 50px;
    vertical-align: middle;
}

.wjs_icon_word {
    color:#333;
    font-size: 30px;
    vertical-align: middle;
}



/* nav css end */


/*banner css start */
.wjs_banner {
    width: 100%;
}
.wjs_banner div .item .pc_pic {
    display: block;
    width: 100%;
}
.wjs_banner div .item .pc_pic > img {
    display: block;
    width: 100%;
    height: 410px;
}
.wjs_banner div .item .moblie_pic {
    width: 100%;
    display: block;
}
.wjs_banner div .item .moblie_pic>img {
    width: 100%;
    display: block;
}
/*banner css end  */


/*product css start */
.wjs_product {
    padding: 50px 30px;
    width: 100%;
}
.wjs_product .container .row > div {
    padding: 25px;
}
.wjs_product .container .row > div span { /*间接后代元素*/
    font-size: 45px;
    color: #333;
}
.wjs_product .container .row > div h4 {
    font-size: 20px;
    color: #333;
}

@media screen and (min-width: 970px ) {

    .wjs_product .container {
        width: 970px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 750px ) and (max-width: 970px){

    .wjs_product .container {
        width: 550px;
        margin: 0 auto;
    }
}
/*product css end  */
